<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <div th:replace="~{fragments/topbar :: topbar}"></div>
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">推力室</h1>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <!-- Collapsable Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">推力室</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                  <div class="card-body">
                    <img src="img/thrustchamber.bmp" class="rounded mx-auto d-block">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- 推力室 -->
            <div class="col-lg-12">
              <!-- Collapsable Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#thrustChamber" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="thrustChamber">
                  <h6 class="m-0 font-weight-bold text-primary">推力室测试<img src="img/thrustchamber.bmp" class="rounded"></h6>
                </a>

                <div class="collapse show" id="thrustChamber">
                  <div class="card-body">
                    <form id="thrustForm">
                      <div class="form-group row">
                        <label for="thrustChamberName" class="col-sm-2 col-form-label">选择已有推力室</label>
                        <div class="col-sm-10">
                          <select id="thrustChamberName" name="thrustChamberName" class="form-control">
                            <option selected>---选择推力室---</option>
                            <option th:each="thrustChamber:${thrustChambers}" th:value="${thrustChamber.componentName}" th:text="${thrustChamber.componentName}"></option>

                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="thrustChamberV" class="col-sm-2 col-form-label">燃烧室容腔体积</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="thrustChamberV" name="thrustChamberV" placeholder="7.8389e-6m^3" value="7.8389e-6">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="thrustChamberTauc" class="col-sm-2 col-form-label">燃烧时滞</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="thrustChamberTauc" name="thrustChamberTauc" placeholder="0.01s" value="0.01">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="thrustChamberK" class="col-sm-2 col-form-label">燃气比热比</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="thrustChamberK" name="thrustChamberK" placeholder="1.25" value="1.25">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="thrustChamberD" class="col-sm-2 col-form-label">喷管喉径</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="thrustChamberD" name="thrustChamberD" placeholder="0.007m" value="0.007">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="thrustChamberPa" class="col-sm-2 col-form-label">环境压强</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="thrustChamberPa" name="thrustChamberPa" placeholder="101325.0Pa" value="101325.0">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="thrustChamberEps" class="col-sm-2 col-form-label">喷管膨胀比</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="thrustChamberEps" name="thrustChamberEps" placeholder="25.72" value="25.72">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="thrustChamberQo" class="col-sm-2 col-form-label">氧化剂流量</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="thrustChamberQo" name="qo" placeholder="0.18kg/s" value="0.18">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="thrustChamberQf" class="col-sm-2 col-form-label">燃料流量</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="thrustChamberQf" name="qf" placeholder="0.15kg/s" value="0.15">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- 全局参数 -->
            <div class="col-lg-12">
              <!-- Collapsable Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#globalParas" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="globalParas">
                  <h6 class="m-0 font-weight-bold text-primary">全局参数<img src="img/global.png" class="rounded"></h6>
                </a>
                <div class="collapse show" id="globalParas">
                  <div class="card-body">
                    <form id="globleForm">
                      <div class="form-group row">
                        <label for="globalParasTime" class="col-sm-2 col-form-label">计算时间</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="globalParasTime" name="globalParasTime" placeholder="1s" value="1">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="globalParasTime" class="col-sm-2 col-form-label">计算步长</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="globalParasStep" name="globalParasStep" placeholder="0.0001" value="0.001">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form class="user">
          <div class="row">
            <button type="button" class="btn btn-success btn-lg btn-block btn-user" onclick="beginSim()">开始仿真！</button>
          </div>
          <hr/>
          <div class="row">
            <button type="button" class="btn btn-primary btn-lg btn-block btn-user" disabled="disabled" id="resultBtn" onclick="showResult()">查看结果</button>
          </div>
          <hr/>
          <div class="row">
            <button type="button" class="btn btn-primary btn-lg btn-block btn-user" id="saveBtn" onclick="showSaveModal()">保存当前参数</button>
          </div>
          </form>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <div th:replace="~{fragments/footer :: footer}"></div>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  <div th:replace="~{fragments/logout-modal :: logout}"></div>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- 展示结果modal -->
  <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">结果</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>

        </div>
        <div class="modal-body">
          <div id="container"></div>
        </div>
        <div class="modal-footer">
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" id="pbBtn" class="btn btn-circle btn-info">压强</button>
            <button type="button" id="mrBtn" class="btn btn-circle btn-info">流量</button>
            <button type="button" id="fBtn" class="btn btn-circle btn-info">推力</button>
            <button type="button" id="rBtn" class="btn btn-circle btn-info">混合比</button>
          </div>
          <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="~{fragments/save-modal :: saveModal}"></div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- Core plugin JavaScript-->
  <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>
  <!-- Custom scripts for all pages-->
  <script th:src="@{js/sb-admin-2.min.js}"></script>
  <script th:src="@{js/serializeForm.js}"></script>
  <script th:inline="javascript">var contextRoot = [[@{/}]];</script>
  <script th:src="@{vendor/highcharts/highcharts.js}"></script>
  <script th:src="@{vendor/highcharts/exporting.js}"></script>
  <script th:src="@{vendor/highcharts/series-label.js}"></script>
  <script th:src="@{vendor/highcharts/oldie.js}"></script>
  <script th:src="@{vendor/highcharts/boost.js}"></script>
  <script th:src="@{js/thrustchamber.js}"></script>
</body>

</html>
